body {
  background-color: #DEEDF0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  width: 3%;
  border-width: 5px;
}

img {
  height: 300px;
}

h1 {
  color: #9900F0;
  font-family: cursive;
}
h3 {
  color: #9900F0;
  font-family: cursive;
}
